[data-anima].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

[data-anima="left"] {
    opacity: 0;
    transition: .3s linear all;
    transform: translate3d(-40px, 0, 0);
}

[data-anima="right"] {
    opacity: 0;
    transition: .3s linear all;
    transform: translate3d(40px, 0, 0);
}

[data-anima="bottom"] {
    opacity: 0;
    transition: .3s linear all;
    transform: translate3d(0, 40px, 0);
}

[data-anima="typing"] {
    opacity: 0;
    transition: .3s linear all;
}