/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono&display=swap');

/* Reset CSS */
@import url(../css/reset.css);
@import url(../css/normalize.css);
@import url(../css/componentes.css);

/* Variáveis */
:root {
    /* Cores */
    --gradient: linear-gradient(45deg, #4070F4 0%, #2BD67B 100%); 
    --branco: #FFFFFF;
    --preto: #040413;

    /* Tipografia */
    --epilogue: 'Epilogue', sans-serif;

    /* Ícones */
    --sobre-mim: "\efb1";
}

html {
  scroll-behavior: smooth;
}

body {
    background: var(--preto);
    font-family: var(--epilogue);
    color: var(--branco);
    scroll-behavior: smooth;
}

.container-principal {
    background-image: url(../../assets/img/apetrechos/luz.png), url(../../assets/img/apetrechos/luz2.png);
    background-repeat: no-repeat;
    background-position: -240px top, right 500px;
}

.conteudo {
    overflow-x: hidden;
}