.cabecalho {
    position: fixed;
    width: 100vw;
    z-index: 10;
}

.cabecalho__logo {
    display: block;
    padding-left: 4px;
    cursor: pointer;
    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 1px 1px), brightness(0);
    transition: .5s ease all;
}

.cabecalho__logo:hover {
    filter: brightness(1.4);
}

.cabecalho-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 1124px;
    margin: auto;
    padding: 0 16px;
}

.botao-contato {
    width: 150px;
    background-image: url(../../assets/img/apetrechos/botao-contato.png);
    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 1px 1px), brightness(0);
}

.texto-contato {
    font-size: 16px;
    font-weight: 700;
}

.texto-contato::before {
    content: '';
    background: url(../../assets/img/icons/contato.svg) no-repeat center / contain;
    display: inline-block;
    width: 20px;
    height: 16px;
    color: aliceblue;
    margin-right: 8px;
    position: relative;
    bottom: -2px;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
}

.cabecalho__link {
    text-decoration: none;
    color: var(--branco);
    font-weight: 600;
    margin-right: 48px;
    position: relative;
    display: flex;
    align-items: flex-end;
    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 1px 1px);
}

.cabecalho__link--projetos {
    margin-right: 0;
}

.cabecalho__link::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url(../../assets/img/icons/sobremim.svg) no-repeat center / contain;
    transition: .5s ease all; 
    position: relative;
}

.cabecalho__link--sobre::before {
    top: -2px;
}

.cabecalho__link--habilidades::before {
    background-image: url(../../assets/img/icons/habilidades.svg);
    width: 20px;
    height: 20px;
    top: -1px;
}

.cabecalho__link--projetos::before {
    background-image: url(../../assets/img/icons/projetos.svg);
    width: 20px;
    height: 20px;
    top: -2px;
}

.cabecalho__link--contato {
    display: none;
}

.cabecalho__link--contato::before {
    background-image: url(../../assets/img/icons/contato.svg);
    width: 21px;
    height: 18px;
    transition: .5s ease all; 
}

.cabecalho__link::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    bottom: -8px;
    position: absolute;
    background: var(--gradient);
    transition: .5s ease all; 
}

.cabecalho__link:hover::after {
    width: 60px;
    filter: brightness(1.4);
}

.cabecalho__link:hover::before {
    filter: brightness(1.4);
}

.cabecalho__hamburguer {
    display: none;
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--branco);
}

.cabecalho__hamburguer > i {
    padding: 4px;
}

@media screen and (max-width: 1023px) {
    .cabecalho__menu,
    .botao-contato {
        display: none;
    }

    .cabecalho__navegacao {
        overflow-y: hidden;
    }

    .cabecalho__hamburguer {
        display: flex;
        align-items: center;
        order: 3;
    }

    .cabecalho__menu {
        display: flex;
        position: fixed;
        flex-flow: column wrap;
        right: -220px;
        top: 81px;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 360px;
        width: 216px;
        background: var(--gradient);
        box-sizing: border-box;
        border-bottom-left-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 2px solid rgba(255, 255, 255, 0.103);
        transition: .5s ease all;
    }

    .cabecalho__menu.cabecalho__menu--ativo {
        right: 0;
    }

    .cabecalho__link {
        font-size: 14px;
        margin-right: 0;
        padding: 16px 32px;
    }

    .cabecalho__link--contato {
        display: block;
    }

    .cabecalho__link--contato::before {
        position: relative;
        bottom: -2px;
    }

    .cabecalho__link--habilidades::before {
        position: relative;
        bottom: -2px;
    }

    .cabecalho__link::before {
        filter: brightness(10);
    }
}