.projetos {
    padding: 104px 24px;
    padding-bottom: 56px;
    background-image: 
        url(../../assets/img/apetrechos/luz2.png);
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    box-sizing: border-box;
}

.projetos::after {
    content: url(../../assets/img/apetrechos/circulo200.svg);
    position: absolute;
    right: 200px;
    bottom: 32px;
    z-index: -1;
}

.projetos::before {
    content: url(../../assets/img/apetrechos/tracejado1.svg);
    position: absolute;
    top: 160px;
    left: calc(50% - 560px);
}

.projetos > .titulo-secao {
    margin-bottom: 32px;
}

.projetos__projeto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

.projetos__descricao {
    margin-right: 56px;
}
.projetos__descricao > .subtitulo-secao::before {
    background-image: url(../../assets/img/icons/projeto-desc.svg);
}

.projetos > .titulo-secao::before {
    background-image: url(../../assets/img/icons/projetos-big.svg);
}

.projetos__texto {
    line-height: 160%;
    font-size: 18px;
    max-width: 568px;
    margin: auto;
    padding: 0 24px;
}

.projetos__link {
    font-weight: 600;
    transition: .5s ease all;
    line-height: 160%;
    font-family: 'Space Mono', monospace;
}

.projetos__link:hover {
    filter: brightness(1.6);
}

.subtitulo-techs::before {
    display: none;
}

.projetos__techs {
    display: flex;
    max-width: 410px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.projetos__techs--item {
    width: 28px;
    height: 28px;
    background-image: url(../img/icons/techs/gradient/html.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 24px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: .6s ease all;
}

.projetos__techs--item.projetos__techs--disabled {
    display: none;
}

.projetos__techs--item:hover {
    filter: brightness(1.6);
}

.projetos__techs--item:nth-of-type(2) {
    background-image: url(../img/icons/techs/gradient/css.svg);
}

.projetos__techs--item:nth-of-type(3) {
    background-image: url(../img/icons/techs/gradient/javascript.svg);
}

.projetos__techs--item:nth-of-type(4) {
    background-image: url(../img/icons/techs/gradient/next.svg);
}

.projetos__techs--item:nth-of-type(5) {
    background-image: url(../img/icons/techs/gradient/react.svg);
}

.projetos__techs--item:nth-of-type(6) {
    background-image: url(../img/icons/techs/gradient/figma.svg);
}

.projetos__techs--item:nth-of-type(7) {
    background-image: url(../img/icons/techs/gradient/trello.svg);
}

.projetos__techs--item:nth-of-type(8) {
    background-image: url(../img/icons/techs/gradient/github.svg);
}

.projetos__projeto {
    border-radius: 24px;
    border-color: var(--branco);
    padding: 72px 56px;
    margin: 48px auto;
    max-width: 1256px;
}

.projetos__projeto--detalhes {
    max-width: 410px;
    line-height: 160%;
    margin: 32px 0;
}

.projetos__carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-right: 32px;
}

.projetos__carrossel--imagem {
    border: 4px solid var(--branco);
    border-radius: 4px;
    margin: 0 32px;
    width: 480px;
    height: 270px;
    overflow: hidden;
}

.projetos__carrossel--lista {
    display: flex;
    transition: .4s ease all;
}

.projetos__carrossel--botao {
    position: absolute;
    top: 40%;
    background-color: var(--branco);
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    cursor: pointer;
}

.projetos__carrossel--botao-left {
    left: -32px;
}

.projetos__carrossel--botao-right {
    right: 0;
}

.projetos__carrossel--indicadores {
    display: flex;
    justify-content: center;
    height: 12px;
    width: 100%;
    margin-top: 32px;
    
}

.projetos__carrossel--indicador {
    border: none;
    width: 12px;
    height: 12px;
    background-color: var(--branco);
    border-radius: 24px;
    margin: 0 12px;
    opacity: 0.30;
    cursor: pointer;
}

.carousel__indicador--ativo {
    opacity: 1;
    width: 30px;
}

@media screen and (max-width: 1214px) {
    .projetos__projeto {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .projetos__descricao {
        margin: 0;
    }
    .projetos__carrossel {
        margin: 0;
        padding: 0;
        margin-bottom: 56px;
        margin-top: 24px;
    }

    .projetos__carrossel--botao-right {
        right: -32px;
    }

    
}

@media screen and (max-width: 767px) {
    .projetos::after,
    .projetos::before {
        display: none;
    }

    .projetos {
        padding: 88px 4px;
        padding-bottom: 56px;
    }

    .projetos__texto {
        font-size: 16px;
        padding: 0 24px;
    }

    .projetos > .titulo-secao {
        text-align: left;
        padding: 0 24px;
        max-width: 568px;
        margin: auto;
        margin-bottom: 32px;
    }

    .projetos__projeto {
        padding: 32px 24px 40px 24px;
    }

    .projetos__projeto--detalhes {
        font-size: 14px;
    }

    .projetos__carrossel--imagem {
        margin: 0;
    }
    .projetos__carrossel--imagem > img {
        width: 100%;
    }

    .projetos__carrossel--botao {
        width: 36px;
        height: 36px;
        font-size: 18px;
        top: unset;
        bottom: 160px;
        background-color: rgba(30, 31, 32, 0.32);
        z-index: 3;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }

    .projetos__carrossel--botao-left {
        left: 16px;
    }

    .projetos__carrossel--botao-right {
        right: 16px;
    }
}

@media screen and (max-width: 550px) {
    .projetos__carrossel--imagem,
    .projetos__carrossel--lista,
    .projetos__carrossel--imagem-gif,
    .projetos__carrossel--imagem-item {
        width: 270px;
        height: auto;
        background-color: var(--branco);
    }

    .projetos__carrossel--botao {
        bottom: 104px;
    }

    .projetos__carrossel--botao-right {
        right: 10px;
    }

    .projetos__carrossel--botao-left {
        left: 10px;
    }

    .projetos__carrossel--indicador {
        margin: 0 8px;
    }

    .projetos__descricao .subtitulo-secao {
        max-width: 280px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.3;
    }

    .projetos__link {
        display: inline-block;
        max-width: 280px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}