.sobre {
    background-image: url(../../assets/img/apetrechos/circulo.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 640px) 500px;
}

.sobre__container {
    border-radius: 24px;
    max-width: 1280px;
    margin: auto;
    padding: 88px 24px;
}

.sobre__container > div {
    padding: 104px 0;
}

.sobre__apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sobre__apresentacao::before {
    content: '';
    height: 150px;
    width: 107px;
    background: url(../../assets/img/apetrechos/tracos1.svg);
    margin-right: 88px;
}

.sobre__apresentacao::after {
    content: '';
    height: 150px;
    width: 107px;
    background: url(../../assets/img/apetrechos/tracos2.svg);
    margin-left: 88px;
}

.sobre__hello {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre__hello--code {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
}

.sobre__hello--logo {
    display: block;
    margin-top: 32px;
}

.sobre__apresentacao--avatar {
    margin-left: 56px;
}

.sobre__ficha {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sobre__ficha--avatar {
    display: block;
    margin-right: 80px;
}

.sobre__card {
    padding: 24px;
    background: var(--gradient);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 24px;
    width: 570px;
    position: relative;
}

.sobre__card::after {
    content: url(../../assets/img/apetrechos/pontilhado2.svg);
    position: absolute;
    top: -72px;
    right: -76px;
}

.sobre__card--item:not(.sobre__card--item:last-of-type) {
    margin-bottom: 24px;
}

.sobre__card--item::before {
    content: url(../../assets/img/icons/ficha-tech/nome.svg);
    margin-right: 12px;
    width: 24px;
    display: inline-block;
    position: relative;
}

.sobre__card--item:nth-of-type(1)::before {
    right: -4px;
} 

.sobre__card--item:nth-of-type(2)::before {
    content: url(../../assets/img/icons/ficha-tech/idade.svg);
}

.sobre__card--item:nth-of-type(3)::before {
    content: url(../../assets/img/icons/ficha-tech/naturalidade.svg);
}

.sobre__card--item:nth-of-type(4)::before {
    content: url(../../assets/img/icons/ficha-tech/formacao.svg);
}

.sobre__card--item:nth-of-type(5)::before {
    content: url(../../assets/img/icons/ficha-tech/area.svg);
}

.sobre__card--item:not(.sobre__card--item:first-of-type)::before {
    bottom: -4px;
}

.sobre__card--item > strong {
    font-weight: 600;
}